.cart-item {
    padding: 0;
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 3px;
    max-height: 100%;
    overflow-y: scroll;
    ;

}

.cart-item::-webkit-scrollbar{
  display: none;
}

.cart-item li {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.cart-item img {
    width: 53px;
    height: 53px;
    object-fit: cover;
    border-radius: 5px;
}

.list-item {
    list-style: none;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .list-item div {
    display: flex;
    flex-direction: column;
    height: 3rem;
    justify-content: space-around;
    color: hsl(0, 0%, 52%);
    margin-left: 1px;
  }
  
  .list-item h4 {
    font-size: 1rem;
    margin: 0;
    
  }
  
  .list-item p {
    font-size: 0.7rem;
    margin: 0;
    display: flex;
    letter-spacing: 2px;
    font-weight: bold;
  }
  
  .list-item span {
    font-weight: bold;
    margin-left: 10px;
    display: flex;
    color: black;
  }
  
  .list-item button {
    background-color: transparent;
    width: 36px;
    height: 36px;
    color: #9e9e9e;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  
 