.App {
  text-align: center;
}

#show-product-window{
overflow: hidden;
}

.news-letter {
  background-color: #060f1e;
  height: 200px;
  position: relative;
  overflow: hidden;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-around;
 
}

.news-letter span {
  color: #ffcf3d;
}

.news-letter img {
  position: absolute;
  left: 3rem;
}

.subscribe {
  display: flex;
}

.subscribe input {
  height: 3rem;
  padding: 0;
  width: 300px;
  outline: none;
  border: none;
  border-radius: 10px 0 0 10px; 
  font-size: 1rem;
  padding-left: 10px;
}

.subscribe button {
  height: 3rem;
  width: 100px;
  background-color: #3d827a;
  border: none;
  color: #fff;
  border-radius: 0 10px 10px 0;
  cursor: pointer;
}

.icons {
  display: flex;
  justify-content: left;
  gap: 5px;
  flex-direction: row;
}

.icons svg{
  width: 16px;
  height: 16px;
  

}

footer {
  display: flex;
  justify-content: space-around;
  
}

footer div {
  display: flex;
  flex-direction: column;
  text-align: left;
}

footer ul {
  display: flex;
  flex-direction: column;
  padding: 0;
  gap: 5px
}

footer h4 {
  margin: 5px;
}

@media (max-width: 500px) {
  .news-letter {
    flex-direction: column;
  }

  footer {
   flex-wrap: wrap;
   
  }
  
  footer div {
    text-align: center;
  }
}
